<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
        <h1>Hello World</h1>
        <a href="#" class="btn btn-primary">LOL</a>

        <select>
            {% for country in mylist %}
            <option>
                {{country}}
            </option>
            {% endfor %}
        </select>

    </body>
</html>